In [2]:
import pandas as pd  # for working with data tables
from sklearn.model_selection import train_test_split  # TODO: Add comment explaining what this does
from sklearn.tree import DecisionTreeClassifier, plot_tree  # for building decision trees
from sklearn.metrics import accuracy_score, classification_report  # TODO: Fill in the two imports (accuracy_score, classification_report)
import matplotlib.pyplot as plt  # TODO: Add comment explaining what this does

print("✓ Libraries imported successfully!")

✓ Libraries imported successfully!

In [3]:
import kagglehub
path = kagglehub.dataset_download("sakshisatre/titanic-dataset")
print("Dataset downloaded to:", path)

Dataset downloaded to: C:\Users\mc_crichardson26\.cache\kagglehub\datasets\sakshisatre\titanic-dataset\versions\2

In [4]:
# Now load the dataset from the local file (csv)
df = pd.read_csv("Titanic Dataset.csv")  # Make sure your csv 'Titanic Dataset.csv' file is in the right folder!

print("✓ Dataset loaded successfully!")
print(f"Number of rows: {len(df)}")
print(f"Number of columns: {len(df.columns)}")

✓ Dataset loaded successfully!
Number of rows: 1309
Number of columns: 14

In [5]:
# Show the first 5 rows
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [9]:
# Show the last 5 rows
print("Last 5 rows of the dataset:")
print(df.tail())

Last 5 rows of the dataset:
      pclass  survived                       name     sex   age  sibsp  parch  \
1304       3         0       Zabour, Miss. Hileni  female  14.5      1      0
1305       3         0      Zabour, Miss. Thamine  female   NaN      1      0
1306       3         0  Zakarian, Mr. Mapriededer    male  26.5      0      0
1307       3         0        Zakarian, Mr. Ortin    male  27.0      0      0
1308       3         0         Zimmerman, Mr. Leo    male  29.0      0      0

      ticket     fare cabin embarked boat   body home.dest
1304    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    2665  14.4542   NaN        C  NaN    NaN       NaN
1306    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    2670   7.2250   NaN        C  NaN    NaN       NaN
1308  315082   7.8750   NaN        S  NaN    NaN       NaN

In [10]:
# TODO: Write code to find the total number of rows
total_passengers = df.shape[0]
print(f"Total passengers in dataset: {total_passengers}")

Total passengers in dataset: 1309

In [11]:
# TODO: Write code to display all column names
print("Column names:")
print(df.columns)  # Hint: use .columns

Column names:
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [12]:

# TODO: Write code to display statistics using .describe()
print(df.describe)

<bound method NDFrame.describe of       pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex    age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.00      0      0   24160  211.3375       B5        S    2
1       male   0.92      1      2  113781  151.5500  C22 C26        S   11
2     female   2.00      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.00      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.00      1      2  113781  151.5500  C22 C26        S  NaN
...      ...    ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.50      1      0    2665   14.4542      NaN        C  NaN
1305  female    NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.50      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.00      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.00      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]>

In [13]:
# TODO: Write code to count survivors
survivors = df['survived'].sum()  # sum() adds up all the 1s
print(f"Number of survivors: {survivors}")

Number of survivors: 500

In [14]:
# TODO: Calculate survival rate
survival_rate = (survivors / total_passengers) * 100
print(f"Survival rate: {survival_rate:.2f}%")

Survival rate: 38.20%

In [15]:
# TODO: Write code to show how many missing values each column has
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64